<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>My Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 project-item">
            <h2>
                <a href="https://github.com/Archertakesitez/deck-to-CPT" target="_blank">Deck-to-CPT: AI-Driven Reimbursement Code Discovery for HealthTech Start-Ups</a>
            </h2>
            <h3><em>Fall 2024</em></h3>
            <ul>
                <li>Built a Python-based web application with HTML/CSS for processing PDF pitch decks and returning relevant Current Procedural Terminology (CPT) codes using AI</li>
                <li>Automated web scraping to retrieve detailed CPT code information from healthcare websites</li>
                <li>Applied Named Entity Recognition (NER) to extract key information from PDFs and utilized Retrieval-Augmented Generation (RAG) for accurate CPT code recommendations</li>
            </ul>
        </div>
        <div class="col-sm-12 project-item">
            <h2>
                <a href="https://github.com/Archertakesitez/deck-to-CPT" target="_blank">Deck-to-CPT: AI-Driven Reimbursement Code Discovery for HealthTech Start-Ups</a>
            </h2>
            <ul>
                <li>Built a Python-based web application with HTML/CSS for processing PDF pitch decks and returning relevant Current Procedural Terminology (CPT) codes using AI</li>
                <li>Automated web scraping to retrieve detailed CPT code information from healthcare websites</li>
                <li>Applied Named Entity Recognition (NER) to extract key information from PDFs and utilized Retrieval-Augmented Generation (RAG) for accurate CPT code recommendations</li>
            </ul>
        </div>
        <div class="col-sm-12 project-item">
            <h2>
                <a href="/static/assets/papers/GraphBERT.pdf" target="_blank">Project 1</a>
            </h2>
            <p>This is a brief description of Project 1.</p>
        </div>
        <div class="col-sm-12 project-item">
            <h2>
                <a href="/static/assets/papers/Representation_learning.pdf" target="_blank">Project 2</a>
            </h2>
            <p>This is a brief description of Project 2.</p>
        </div>
        <div class="col-sm-12 project-item">
            <h2>
                <a href="https://example.com/project3" target="_blank">Project 3</a>
            </h2>
            <p>This is a brief description of Project 3.</p>
        </div>
    </div>
</div>